* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(126, 59, 235);

}

main {
    background-color: rgb(244, 244, 248);
    width: 500px;
    margin: auto;
    padding: 100px;
    box-shadow: Jpx Jpx rgb(7, 7, 7);
}

main {
    background-color: rgb(247, 248, 247);
    width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: darkblue;
}